.bulk-insert-progress {
  text-align: left;
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100px;
  height: 20px;
  border: solid black 1px;
  background-color: ghostwhite;
  padding: 1px 1px;
  .progress {
    position: absolute;
    left: 1px;
    display: inline-block;
    background-color: springgreen;
    height: 20px;
  }
  .status {
    position: absolute;
    left: 1px;
    font-size: 16px;
    font-family: 'Lucida Console', Monaco, monospace;
    width: 100%;
    color: darkmagenta;
    left: 1px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
