@mixin fontPolicy {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}

$searchBarBackgroundColor: ivory;
$searchBarColor: black;

.renaud-suggester-container {
  position: relative;
  text-align: left;
  font-size: 14px;

  &.focused {
  }
  &.unfocused {
  }

  .renaud-suggester {
    .renaud-suggester-panel-container {
      position: absolute;
      display: inline-block;
      width: max-content;
      margin-top: 2px;

      &.display {
        z-index: 1;
      }
      &.hide {
        z-index: 0;
      }

      .renaud-suggester-panel {
        margin: 0;
        padding: 0;
        list-style: none;
        //
        box-shadow: 0em 0em 0.3em 0.1em gray;
        background-color: snow;
        border-radius: 5px;
        padding: 4px 6px;
      }
    }

    .renaud-suggester-input-container {
      position: relative;
      background-color: $searchBarBackgroundColor;
      border-radius: 15px;
      padding: 0 25px 0 15px;

      border: solid lightblue 2px;
      width: calc(100% - 44px);
      height: 30px;

      &.focused {
        border: solid royalblue 2px;
      }

      .renaud-suggester-input {
        outline: none;
        border: none;
        height: calc(100% - 2px);
        background-color: $searchBarBackgroundColor;
        color: $searchBarColor;
        width: 100%;

        @include fontPolicy();
      }

      .renaud-suggester-input-layer {
        position: absolute;
        top: 0;
        background-color: $searchBarBackgroundColor;
        width: calc(100% - 32px);
        padding-left: 2px;
        padding-top: 8px;
        height: calc(100% - 8px);
        color: $searchBarColor;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;

        @include fontPolicy();
      }

      .renaud-suggester-button-delete {
        position: absolute;
        display: block;
        width: 16px;
        height: 17px;
        background-color: slategrey;
        border-radius: 50%;
        right: 7px;
        top: 7px;
        text-align: center;
        cursor: pointer;

        &:hover {
          background-color: lightgrey;
        }

        &:focus {
          outline: none;
          box-shadow: 0em 0em 0.1em 0.1em goldenrod;
        }
      }
    }

    .renaud-suggestion-option {
    }
  }
}
