@mixin cleanUp {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0;
  border: none;
  padding: 0;
  display: block;
  background-color: transparent;
  color: black;
  outline: none;
}

.idb-suggester-container {
  @include cleanUp();
  &.focused {
    @include cleanUp();
  }
  &.unfocused {
    @include cleanUp();
  }

  .idb-suggester {
    @include cleanUp();

    &.focused {
        @include cleanUp();
    }

    .idb-suggester-panel-container {
        @include cleanUp();

      &.display {
        @include cleanUp();
      }
      &.hide {
        @include cleanUp();
      }

      .idb-suggester-panel {
        @include cleanUp();
      }
    }

    .idb-suggester-input-container {
        @include cleanUp();
      &.focused {
        @include cleanUp();
      }

      .idb-suggester-input {
        @include cleanUp();
      }

      .idb-suggester-input-layer {
        @include cleanUp();
      }

      .idb-suggester-button-delete {
        &:hover {
            @include cleanUp();
        }

        &:focus {
            @include cleanUp();
        }
      }
    }

    .idb-suggestion-option {
    }
  }
}
