@mixin fontPolicy {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

$inputBackgroundColor: Bisque;
$inputHeight: 45px;
$inputBorderSize: 2px;

.idb-suggester-container {
  position: relative;
  min-height: $inputHeight + 2 * $inputBorderSize;
  z-index: 1;

  &.focused { 
  }
  &.unfocused {
  }

  .idb-suggester {
    position: absolute;
    min-height: $inputHeight;
    border: solid $inputBorderSize magenta;
    border-radius: 10px;
    background-color: $inputBackgroundColor;
    width: 100%;

    &.focused {
      box-shadow:   0 0 6px red;
      border-radius: 10px;
    }

    .idb-suggester-panel-container {
      display: block;
 
      &.display {
        z-index: 1;
      }
      &.hide {
        z-index: 0;
      }

      .idb-suggester-panel {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }

    .idb-suggester-input-container {
      &.focused {
      }

      .idb-suggester-input {
        @include fontPolicy();
        outline: none;
        border: none;
        padding: 0 0 0 4px;
        height: $inputHeight;
        width: calc(100% - 35px);
        background-color: transparent;
      }

      .idb-suggester-input-layer {
        @include fontPolicy();
        position: absolute;
        border-radius: 10px 0 0 0;
        top: 0;
        padding: 0 0 0 4px;
        white-space: nowrap;
        overflow: hidden;
        width: calc(100% - 35px);
        height: $inputHeight;
        line-height: $inputHeight;
        background-color: $inputBackgroundColor;
      }

      .idb-suggester-button-delete {
        position: absolute;
        display: block;
        width: 22px;
        height: 22px;
        background-color: salmon;
        border-radius: 50%;
        right: 7px;
        top: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: brown;
        }

        &:focus {
          outline: none;
          box-shadow: 0em 0em 0.1em 0.1em magenta;
        }
      }
    }

    .idb-suggestion-option {
      overflow-x: hidden;
    }
  }
}
